@charset "UTF-8";

#wrap {
	width:1200px;
	margin:0 auto;
	
}

header {
	height:70px;
	background-color: #dddddd;
	
}

.contents {
	height: 500px;
}

.contents > .input-box {
	width: 400px;
	height:500px;
}

footer {
	height:70px;
	background-color: #dddddd;
}