@charset "UTF-8";

#wrap {
	width:1200px;
	margin:0 auto;
	
}

header {
	height:70px;
	
}

.timeLine-nav {
	height:700px;
	
	
}

.contents {
	width:600px;
	height: 700px;
	background-color: lightskyblue;
}

.contents > .input-box {
	width: 400px;
	height:500px;
}

footer {
	height:70px;
}